[submodule "deps/BMFontToSpriteFont"]
	path = deps/BMFontToSpriteFont
	url = https://github.com/bladecoder/BMFontToSpriteFont.git
[submodule "deps/StbImageSharp"]
	path = deps/StbImageSharp
	url = https://github.com/StbSharp/StbImageSharp.git
